/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	margin: 10px 0;
}
/* Type will scale with document */
h1 {
	font-size: 1.4rem;
  	font-weight: bold;
}
h2 {
  	font-size: 1.25rem;
  	font-weight: bold;
}
h3 {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 30px 0 10px;
}
#masterhead {
	background: #222;
	color: #fff;
	padding: 10px;
	display: -ms-flexbox; /* IE 10 */
	display: flex;
}
#corporate-name {
	font-family: 'Rosario', sans-serif;
	padding-top: 5px; /* This particular font tends to appear too height so I adjusted to align with the User Info */
  	margin-right: auto;
  	width: 82%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sub-title {
	background: #f1efef;
	padding: 10px;
}
#template-basic {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
}
#slide-audio {
	margin: 0 auto;
	display: block;
}
#template-basic.display-no {
	display: none;
}
#template-video {
	display: none;
}
#template-video.display-yes {
	display: block;
}
#slide-video {
	max-width: 100%;
	display: block;
	margin: 10px auto;
}
#bodymedia {
	margin-left: auto;
}
#bodymedia img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
#audio-controller {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	justify-content: center;
	padding: 10px;
    z-index:100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fafafa;
}
#audio-controller button {
	width: 100px;
	background: #f1efef;
	border-radius: 2px;
	border: 1px solid #aaa;
	text-align: center;
	margin: 0 10px;
	padding: 10px;
	font-size: 100%;
}
#audio-controller button:hover {
	background: #fff;
	cursor: pointer;
}
#audio-controller i {
	padding-right: 6px;
}
#page {
	text-align: center;
	margin: 20px 0;
}
#progress-bar {
	height: 5px;
	background: #ccc;
	margin: 10px 0;
}
#compled-bar {
	height: 5px;
	background: #2c3dff;
	width: 0%;
}
#footer {
	clear: both;
	text-align: right;
	border-top: 1px solid #ccc;
	margin: 50px 0 80px;
}
/* Document level adjustments */
html {
  font-size: 17px;
}
.contentbody-left { max-width: 50%; }
.block-padding { padding: 10px; }
@media (max-width: 900px) {
  html { font-size: 15px; }
  #slide-audio { width: 100%; }
  .block-padding { padding: 0 10px; }
}
/* Started with 400px and 700px seems right */
@media (max-width: 700px) {
  html { font-size: 13px; }
  #template-basic { display: block; }
  .contentbody-left { max-width: 100%; }
  #bodymedia img { margin: 0 auto; }
}